.App {
  display: grid;
	grid-template: 60px calc(100vh - 60px) / 60px 1fr;
	grid-template-areas: "header header" "nav main"
}

.App > header{
  grid-area: header;
  background-color: rgb(17 24 39);
}

.App > nav{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(17 24 39);
  padding: 20px 0;
}

.NavItem {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(59 130 246);
  border-radius: .375rem;
}

nav .NavItem {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  display: flex;
}

header .NavItem {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 25px;
  border-radius: 100%;
}

.NavItem:hover {
  background-color:#252930;
}
.NavItem.active {
  background-color: rgb(31 41 55/1);
  /* color: rgb(99, 129, 212); */
  border-color: rgb(75 85 99);
}

.App > main{
  grid-area: main;
  padding: 20px;
}

.App-header{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  background-color: rgb(17 24 39);
  padding: 30px;
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  border: 1px solid rgb(55 65 81);
}

.input{
  width: 100%;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #111827;
  font-size: .9rem;
}

.table tr:nth-child(even){background-color: #192231;}

.table tr:hover{background-color: #252d3d}

.table td,
.table th{
  width: calc(100% / 6);
  border: 1px solid rgb(55 65 81);
  padding: .3rem .5rem;
}

.table td .button + .button{
  margin-left: .5rem;
}

.table th{
  padding: .5rem;
  text-align: left;
  background-color: rgb(17 24 39);
  color: white;
  font-size: 1rem;
}

.button{
  background-color: rgb(59 130 246);
  border: none;
  padding: .25rem .5rem;
  color: white;
  transition: background-color ease .15s;
  cursor: pointer;
  border-radius: .375rem;
}

.button:hover{
  background-color: rgb(29 78 216);
}

.button.rounded{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.link{
  color: rgb(59 130 246);
  background-color: transparent;
}

.floatingButton{
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.badge{
  position: relative;
}

.badge span{
  position: absolute;
  right: -6px;
  bottom: -3px;
  border-radius: .3rem;
  background-color: red;
  font-size: .8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

.SearchContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.loader {
  border: 8px solid #111827;
  border-top: 8px solid #252d3d;;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin .8s linear infinite;
  margin: 0 auto;
}
main > .loader {
  margin: 150px auto 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 130px;
  max-height: 250px;
  padding: 5px;
}

.circle-bg {
  fill: none;
  stroke: rgb(55 65 81);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.grid{
  margin: 0 -5px;
}

.grid > div{
  background-color: rgba(255, 255, 255, 0.048);
  width: calc(50% - 10px);
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding: 20px;
}

.SearchContainer label{
  margin: 0 20px;
}
.SearchContainer button{
  margin-right: 20px;
}

.formGroup{
  margin-bottom: 10px;
}

.formGroup h3{
  margin: 0 0 10px;
}

.formGroup label{
  display: block;
}

.formGroup .input{
  width: 100%;
}

.buttonGroup{
  margin-top: 10px;
}

.buttonGroup button + button{
  margin-left: 20px;
}
