.App {
  display: grid;
	grid-template: 60px calc(100vh - 60px) / 60px 1fr;
	grid-template-areas: "header header" "nav main"
}

.App > header{
  grid-area: header;
  background-color: rgba(26, 25, 25, 0.75);
}

.App > nav{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(26, 25, 25, 0.75);
  padding: 20px 0;
}

.NavItem {
  font-size: 30px;
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavItem:hover {
  background-color: #fff;
}
.NavItem.active {
  background-color: rgba(255, 255, 255, 0.514);
}

.App > main{
  grid-area: main;
  padding: 20px;
}
